{% extends 'customers/base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Items in Cart</h1>
        {% if products %}
            <ul class="list-group">
                {% for product in products %}
                    <li class="list-group-item">
                        <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="mt-4">
                <a href="{% url 'place_order' %}" class="btn btn-primary">Place Order</a>
            </div>
        {% else %}
            <p>No items in cart.</p>
        {% endif %}
    </div>
{% endblock %}